body {
  margin: 0;
}

.top-pane {
  background-color: #1F2227;
}

.pane {
  height: 99vh;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  width: 50%;
  resize: horizontal;
  overflow: auto;
}
.panel{
  display: flex;
}

.pane-iframe{
  height: 99vh;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  min-width: 50%;
  align-items: flex-end;

}
.pane-iframe-full{
  height: 99vh;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  min-width: 100%;
  align-items: flex-end;

}
.editor-container {
  height: 33%;
 
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: #1D1E22 /*#1F2227;*/
}

.editor-container.collapsed {
  height: 10%;
  
}

.editor-container.collapsed .CodeMirror-scroll {
  position: relative;
  overflow: scroll !important;
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #1F2227;
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.CodeMirror {
  height: 100% !important;
  
}
.cm-s-material.CodeMirror{
  background-color: #2b2f35;
}

.CodeMirror-linenumbers{
  background-color: #1F2227;
}
.code-mirror-wrapper {
  
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
  height: 33vh;
}